<div *ngIf="viewMode; else editable">
  <div *ngIf="currentlivre.id">
    <h4>livre</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentlivre.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentlivre.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentlivre.published ? "Published" : "Pending" }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/livres/{{ currentlivre.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentlivre">
    <br />
    <p>Please click on a livre...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentlivre.id" class="edit-form">
    <h4>livre</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentlivre.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentlivre.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentlivre.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentlivre.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentlivre.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deletelivre()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updatelivre()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentlivre.id">
    <br />
    <p>Cannot access this livre...</p>
  </div>
</ng-template>
